*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding: 0;
    background-color: darkslategray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    height: 90vb;
    width: 70%;

    justify-content: center;
    align-items: center;
    
    
    justify-content: space-evenly;
}

.controllers{
    display:flex;
    justify-content: center;
    width: 20%;


    

}

ul{
    align-self: flex-start;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;

    padding-right: 20px;
    
    
}



.color{
    height: 100px;
    width: 100px;
    
}
.colorInput{
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 23px;
    background-color: darkslategray;
}





h1{
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    color:green;
}


.value{
    margin: 0 ;
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
}






.main{
    
    
    width: 600px;
    height: 600px;
    padding:0;
    display:flex;
    flex-wrap: wrap;
    background-color: white;
}


button{

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right:20px ;

    border-radius: 50px;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;

    color: #F0F8FF;
    background-color:#4682B4;

    border:none;
}

button:hover{
   
    padding-left: 40px;
    padding-right: 40px;
    transition: 0.2s;
    letter-spacing: 1px;
}

button:active{
    
    box-shadow: black 1px 1px 20px;
    font-size: medium;
}